<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h1>Student list</h1>
                <p>No student found. Add the students now!</p>

                <a style="padding-left: 10%" href="/student/create">+Add Student</a>
            </div>
            <div class="col-md-4">
                <h1><a href="/courses">Go to Courses</a></h1>
            </div>
        </div>
    </div>
</body>
</html>